/* responsive styles for mobile devices */
@media (min-width: 425px) {
    /* global */
    .section-title {
        font-size: 1.3rem;
    }

    .section-title > span {
        font-size: 1.8rem;
    }

    /* banner */
    .banner .banner-icon {
        width: 170px;
    }

    .banner .banner-tagline {
        font-size: 1.5rem;
    }

    .banner .banner-logo {
        padding: 1.5rem;
    }

    /* intro */
    .intro .intro-title {
        width: 50%;
    }

    /* about */
    section.about {
        padding: 2rem;
        gap: 1rem;
    }

    .about .about-container {
        gap: 1rem;
    }

    /* symbolic details */
    .symbolic-details .symbolic-content-photos {
        flex-direction: row;
    }

    .symbolic-details .symbolic-content-photo {
        width: 32.5%;
        margin: 0px;
    }

    /* poem */
    .poem .poem-content {
        font-size: 1rem;
    }

    /* gallery */
    section.gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* investments */
    .investments .investments-container {
        width: 80%;
        padding: 2.5rem;
    }

    .investments .section-title {
        justify-content: flex-start;
    }

    .investments .process-image {
        width: 90%;
    }

    /* reminder */
    .reminder .reminder-container {
        font-size: 1.6rem;
    }

    /* process details */
    section.process-details {
        background-image: url("./assets/banner-bg.webp");
        padding: 3rem;
    }

    .process-details .process-container {
        padding: 4rem;
    }

    .process-details .process-element {
        flex-direction: row;
    }

    .process-details .element-content {
        width: 75%;
        text-align: justify;
    }
}

/* responsive styles for tablet devices */
@media (min-width: 768px) {
    /* intro */
    .intro .intro-title {
        padding-left: 2rem;
    }

    /* investments */
    .investments .investments-container {
        gap: 3rem;
        margin: 0px;
    }

    .investments .process {
        font-size: 1.5rem;
    }

    .investments .investment-content {
        font-size: 1.3rem;
    }

    /* reminder */
    .reminder .reminder-container {
        padding: 4rem;
    }

    /* process details */
    section.process-details {
        background-size: 300%;
    }

    /* celebrate */
    section.celebrate {
        flex-direction: row;
    }

    .celebrate .left {
        width: 35%;
    }
    .celebrate .right {
        width: 65%;
        padding-bottom: 8rem;
    }
}

/* responsive styles for laptop devices */
@media (min-width: 1024px) {
    /* intro */
    .intro .intro-title {
        margin: -8rem 0px 0px;
    }

    /* about */
    section.about {
        flex-direction: row;
        padding: 2rem;
        gap: 1.5rem;
    }

    .about .about-photo {
        width: 50%;
    }

    .about .about-container {
        gap: 1.5rem;
    }

    /* symbolic details */
    section.symbolic-details {
        flex-direction: row;
        padding: 0px;
    }

    .symbolic-details .symbolic-details-photo {
        width: 40%;
        height: 100%;
        align-self: stretch;
    }

    .symbolic-details .section-title {
        flex-direction: row;
    }

    .symbolic-details .symbolic-details-container {
        width: 60%;
        padding: 0px 2rem;
    }

    /* poem */
    section.poem {
        flex-direction: row;
        padding: 1rem 4rem;
    }

    .poem .art-column {
        width: 31%;
        gap: 0.25rem;
    }

    .poem .gallery {
        width: 31%;
    }

    /* investments */
    .investments .process {
        font-size: 2rem;
    }
}

/* responsive styles for desktop devices */
@media (min-width: 1280px) {
    /* banner */
    section.banner {
        min-height: 700px;
        background-size: 100% 100%;
    }

    /* intro */
    .intro .intro-title {
        width: 35%;
        padding-left: 5rem;
    }

    /* about */
    section.about {
        background-size: 100% 100%;
        padding: 2rem 6rem;
    }

    .about .about-content {
        font-size: 1.2rem;
    }

    /* symbolic details */
    .symbolic-details .symbolic-details-container {
        width: 60%;
        padding: 0px 2rem;
    }

    .symbolic-details .symbolic-details-content {
        font-size: 1.1rem;
    }

    /* investments */
    section.investments {
        background-position: -140px -75px;
        background-size: 140%;
    }

    .investments .investments-container {
        width: 60%;
    }

    /* process details */
    section.process-details {
        background-size: 140%;
        padding-left: 8rem;
    }

    .process-details .element-content {
        font-size: 1.3rem;
    }
}
