/* responsive styles for mobile devices */
@media (min-width: 640px) {
    /* banner */
    .banner .banner-icon {
        width: 170px;
    }

    .banner .banner-tagline {
        font-size: 1.5rem;
    }

    .banner .banner-logo {
        padding: 1.5rem;
    }

    /* intro */
    .intro .intro-title {
        width: 50%;
    }

    /* about */
    section.about {
        padding: 2rem;
        gap: 1rem;
    }

    .about .about-container {
        gap: 1rem;
    }
}

/* responsive styles for tablet devices */
@media (min-width: 768px) {
    /* intro */
    .intro .intro-title {
        padding-left: 2rem;
    }
}

/* responsive styles for laptop devices */
@media (min-width: 1024px) {
    /* intro */
    .intro .intro-title {
        margin: -8rem 0px 0px;
    }

    /* about */
    section.about {
        flex-direction: row;
        padding: 2rem;
        gap: 1.5rem;
    }

    .about .about-photo {
        width: 50%;
    }

    .about .about-container {
        gap: 1.5rem;
    }
}

/* responsive styles for desktop devices */
@media (min-width: 1280px) {
    /* banner */
    section.banner {
        min-height: 700px;
        background-size: 100% 100%;
    }

    /* intro */
    .intro .intro-title {
        width: 35%;
        padding-left: 5rem;
    }

    /* about */
    section.about {
        background-size: 100% 100%;
        padding: 2rem 6rem;
    }

    .about .about-content {
        font-size: 1.2rem;
    }
}
