/* default styles. have to skip while pasting into highLevel editor */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

/* accent colors */
:root {
    --brown: #94626b;
    --pink-white: #f9efee;
    --tan: #c8a771;
    --yellow: #f8dfc1;
    --red-tan: #d4c1b6;
}

/* banner styles */
section.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url("./assets/banner-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner .banner-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(212, 193, 182, 0.75);
    border-radius: 3rem;
    margin: 3rem auto;
}

.banner .banner-icon {
    width: 50%;
}

.banner .banner-logo {
    width: 100%;
    height: 100px;
    padding-top: 1rem;
    object-fit: cover;
}

.banner .banner-tagline {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
}

.banner .current-year {
    color: var(--brown);
    font-weight: 700;
    font-size: 1.2rem;
}

/* intro styles */
section.intro {
    height: 100vh;
    min-height: 500px;
    background-image: url(./assets/into-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.intro .intro-title {
    padding-left: 0.75rem;
    margin-bottom: -4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}
