/* default styles. have to skip while pasting into highLevel editor */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

/* accent colors and global styles */
:root {
    --brown: #94626b;
    --primary-brown: #8a4f3b;
    --pink-white: #f9efee;
    --tan: #c8a771;
    --yellow: #f8dfc1;
    --red-tan: #d4c1b6;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.section-title {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--brown);
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.section-title > span {
    font-size: 1.2rem;
    color: var(--primary-brown);
}

/* banner styles */
section.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url("./assets/banner-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner .banner-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(212, 193, 182, 0.75);
    border-radius: 3rem;
    margin: 3rem auto;
}

.banner .banner-icon {
    width: 50%;
}

.banner .banner-logo {
    width: 100%;
    height: 100px;
    padding-top: 1rem;
    object-fit: cover;
}

.banner .banner-tagline {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
}

.banner .current-year {
    color: var(--brown);
    font-weight: 700;
    font-size: 1.2rem;
}

/* intro styles */
section.intro {
    height: 100vh;
    min-height: 500px;
    background-image: url("./assets/into-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.intro .intro-title {
    padding-left: 0.75rem;
    margin-bottom: -4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}

/* about styles */
section.about {
    min-height: 100vh;
    background-image: url("./assets/banner-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 2rem 0.5rem;
}

.about .about-photo {
    width: 100%;
}

.about .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.about .about-content {
    background-color: white;
    color: var(--primary-brown);
    font-size: 1rem;
    padding: 1rem;
}

/* symbolic details */
section.symbolic-details {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0px;
    align-items: center;
    background-color: var(--pink-white);
}

.symbolic-details .symbolic-details-photo {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.symbolic-details .symbolic-details-container {
    width: 90%;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.symbolic-details .section-title {
    flex-direction: column;
    justify-content: center;
}

.symbolic-details .symbolic-details-content {
    color: var(--primary-brown);
    font-size: 1rem;
    font-weight: 500;
}

.symbolic-details .symbolic-content-photos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: stretch;
}

.symbolic-details .symbolic-content-photo {
    width: 95%;
    margin: auto;
}

/* poem styles */
section.poem {
    background-color: #f7f9ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
    box-sizing: border-box;
    min-height: 100vh;
    gap: 0.5rem;
}

.poem .art-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.poem .art {
    width: 45%;
}

.poem .poem-content {
    color: var(--brown);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.poem .holding-hands {
    width: 100%;
}

.poem .gallery {
    width: 100%;
    object-fit: cover;
}

/* timeline styles */
section.timeline_ {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #758d96;
}

/* Timeline */
.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--tan);
    position: relative;
    transition: all 200ms ease-in;
}

.status h4 {
    font-weight: 600;
}

.status:before {
    content: "dfgh";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

/* Media Queries */
@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
}

/* gallery styles */
section.gallery {
    height: 100vh;
    min-height: 700px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gallery .gallery-item {
    overflow: hidden;
}

.gallery .gallery-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery .gallery-item > img:hover {
    transform: scale(1.25);
}

/* investments section */
section.investments {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("./assets/banner-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem 0rem;
}

.investments .investments-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: auto;
}

.investments .section-title {
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
}

.investments .section-title > span {
    font-weight: 400;
}

.investments .investment-content {
    color: var(--primary-brown);
    font-size: 1rem;
    font-weight: 500;
}

.investments .process-image {
    width: 100%;
}

.investments .process {
    color: var(--primary-brown);
    font-size: 90%;
    /* font-size: 4vw; */
    font-weight: 400;
}

/* reminder section */
section.reminder {
    height: 100vh;
    background-image: url("./assets/reminder-bg.webp");
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: flex-end;
}

.reminder .reminder-container {
    padding: 2rem;
    font-size: 1.4rem;
    color: var(--primary-brown);
}

/* process details styles */
section.process-details {
    min-height: 100vh;
    background-image: none;
    background: #d3c1b5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0rem;
}

.process-details .process-container {
    box-sizing: border-box;
    background-color: #e6eed261;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
}

.process-details .process-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.process-details .element-icon {
    width: 70px;
}

.process-details .element-content {
    width: 95%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-brown);
}

.process-details .element-content > span {
    font-weight: 700;
}

/* celebrate styles */
section.celebrate {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.celebrate .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/symbolic-details-photo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 3rem;
}

.celebrate .left > img {
    width: 100%;
}

.celebrate .right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-image: url("./assets/couple.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0px 6rem;
}

.celebrate .celebrate-title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--pink-white);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4.5px;
}

/* sea gallery styles */
section.sea-gallery {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    border: 1.5rem solid #fae7e5;
    background-color: #f7f9ff;
    padding: 2.5rem;
    display: none;
    justify-content: space-between;
    align-items: stretch;
}

.sea-gallery .sea-column {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.sea-gallery .sea-column > img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.sea-gallery .sea-title {
    color: var(--primary-brown);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
}

.sea-gallery .logo {
    margin-left: auto;
    width: 300px;
    align-self: flex-end;
}

.sea-middle {
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 0px;
    bottom: 0px;
    translate: -50%;
}

/* contact styles */

section.contact {
    height: 100vh;
    position: relative;
    background-image: url("./assets/banner-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
}

.contact .contact-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 231, 229, 0.7);
    z-index: 10;
}

.contact .contact-container {
    position: relative;
    z-index: 20;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.contact .contact-photo {
    height: 100vw;
    width: 100%;
    object-fit: cover;
    padding-top: 2rem;
}

.contact .contact-contents {
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact .contact-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--primary-brown);
}

.contact .contact-title > img {
    width: 125px;
}

.contact .contact-details {
    font-weight: 500;
    color: var(--brown);
}
